<h2>Products</h2>

<div *ngFor="let product of products">
  <!--*ngFor permet au div de se repeter pour chaque produit de la liste-->

  <h3>
    <a [title]="product.name + ' details'">
      <!-- <a [title]=... > fait en sorte de lorsqu'on pointe un lien avec la souris, on voit le nom du produit suivis de details -->
      {{ product.name }}
    </a>
    <!-- <a></a> crée un lien ayant comme nom le contenu de l'interpolation -->
    <!--  {{}} (interpolation) Permet de render la valeur de la propriete comme etant du texte -->
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>

  <!-- affiche ProductAlertsComponent comme un enfant de ProductListComponent-->
  <app-product-alerts 
    [product]="product"
    (notify)="onNotify()"> 
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
